* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

.navbar__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100px;
  padding: 0 30px;
  border-bottom: 1px solid gray;
  z-index: 3;

  .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    li {
      padding: 0 10px;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        transition: 0.3s linear;
        background-color: gray;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .navbar__logo {
    margin-right: 100px;
    font-size: 52px;
    font-weight: bold;
  }

  .navbar__tools {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    li {
      padding: 0 10px;
      &::after {
        content: "";
        display: block;
        background-color: gray;
        width: 0;
        height: 2px;
        transition: 0.3s linear;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

.home {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    max-height: 670px;
    height: 100%;
  }
}
.purchase__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -9% auto 7%;
  .purchase__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-right: 1px solid lightgray;
    background-color: white;
    box-shadow: 5px 5px 10px lightgray;
    &:hover {
      background-color: lightgray;
      color: white;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    i {
      text-align: center;
      font-size: 42px;
      p {
        padding: 20px;
        font-size: 28px;
      }
    }
  }
}

.model__container {
  position: relative;
  margin: 60px;
  height: 100vh;
  h1 {
    margin: 30px 0;
    font-size: 52px;
    left: 0;
  }
  .model__menu {
    position: sticky;
    top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 24px;
    z-index: 10;
    span {
      display: flex;
      align-items: center;
      padding: 12px 30px;
      border: 1px solid lightgray;
      height: 100%;
      background-color: white;
      &:nth-child(4) {
        padding: 0 50px;
      }
    }
  }
  .model__kind {
    position: sticky;
    top: 110px;
    width: 20%;
    height: 300px;
    padding-top: 50px;
    margin-top: 30px;
    border-right: 1px solid lightgray;
    font-size: 18px;
    li {
      padding: 10px 0;
      i {
        padding-right: 10px;
      }
    }
  }
  .car__container {
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    .sedan,
    .suv,
    .coupe,
    .convertible {
      border-bottom: 1px solid black;
      width: 100%;
    }
    img {
      width: 250px;
      height: 250px;
    }
  }
}
