* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  width: 100vw;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100px;
  padding: 0 30px;
  border-bottom: 1px solid gray;
  .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    li {
      padding: 0 10px;
    }
  }
  .navbar__logo {
    font-size: 52px;
    font-weight: bold;
  }

  .navbar__tools {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    li {
      padding: 0 10px;
    }
  }
}
